# [JWT] Generate symmetric secret in terminal:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"

JWT_SECRET_NEW="" # (required)
# JWT_SECRET_OLD="" # (optional) for key rotation
