# SvelteKit Node.js build environment variables
# See https://svelte.dev/docs/kit/adapter-node

HOST="0.0.0.0"
PORT="3000"
BODY_SIZE_LIMIT="1M" # nginx defaults to 1MB

ORIGIN="https://example.com" # (required) use the actual domain
ADDRESS_HEADER="CF-Connecting-IP" # (optional) Cloudflare proxy
