node_modules

# Env
*.local
.env.sentry-build-plugin

# OS
.DS_Store
Thumbs.db

# Output
.netlify
.output
.vercel
.wrangler
/.svelte-kit
/build

# Playwright
test-results

# SQLite
*.db
*.db-shm
*.db-wal

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Vitest
.vitest
